*{margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
    }
    /* reset-css */
    html{
        background: #0F103F;
        scroll-behavior: smooth;
    }
a {
    text-decoration: none;
    color: inherit;
  }
  button,
  input,
  textarea {
    font-size: 16px;
  }
  button:focus,
  button:active,
  input:focus,
  input:active,
  textarea:focus,
  textarea:active {
    outline: none;
    box-shadow: none;
  }
  ul,
  ol,
  li {
    list-style: none;
    padding-left: 0;
    margin: left 0;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  :root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
  /* Size */
    --size-border-radious: 4px;

/* Animation */
    --animation-duration: 300ms;
}
/* Universal tags */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    
    padding-left: 0;
}
li{
    list-style: none;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 8px 0;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

  
    #hero{
        width: 100%;
        min-height: 100vh;
        background: #0F103F;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        color: #fff;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #navbar{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
    }
    #navbar.navbar--dark {
        color: white;
        background-color: #7a4ca1;
        padding: 8px;
        transition: all var(--animation-duration) ease-in-out;
        z-index: 1;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        width: 180px;
    }
    nav ul{
        flex: 1;
        text-align: right;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 0 15px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .btn{
        border: 2px solid #fff;
        padding: 6px 25px;
        border-radius: 30px;
        margin-left: 30px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;
    
    }
    .col-1{
        
        min-width: 300px;
        margin-bottom: 30px;
        position: relative;
    }
    .col-2{
        flex-basis: 55%;
        min-width: 300px;
        margin-bottom: 30px;
    }
    .col-1 img{
        width: 100%
    }
    .col-2 h1{
        font-weight: 900;
        font-size: 62px;
    }
    span{
        color: yellow;
    }
    .col-2 p{
        margin: 10px 0 50px;
        max-width: 580px;
        font-weight: 500;
    }
    .col-2 .btn{
        margin-left: 0;
        margin-right: 30px;
        background: #fff;
        color: #121dff;
        font-weight: 500;
    }
    .elements{
        position: absolute;
        left: 0;
        top: 0;
        animation: move 2.5s linear infinite;
    }
    @keyframes move {
        0%{
            transform: translate(-15px, 0px);
        }
        50%{
            transform: translate(0px, -15px);
        }
        100%{
            transform: translate(-15px, 0px);
        }
    }
    
    .triangle1{
        position: absolute;
        left: 50%;
        top: -180;
        transform: translate(-50%);
        width: 400px;
        z-index: -1;
        opacity: 0.1;
    }
    .triangle2{
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        width: 400px;
        z-index: -1;
        opacity: 0.1;
    }
    .circle{
        /*position: absolute;
        right: -100px;
        bottom: -300px;
        width: 500px;
        z-index: -1;
        opacity: 0.2;*/
        position: absolute;
        right: -69px;
        bottom: 16px;
        width: 500px;
        z-index: -1;
        opacity: 0.2;
    }
    .left_circle{
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        width: 400px;
        z-index: -1;
        
    }
    .code{
        position: absolute;
        left: 0;
        top: 50%;
        animation: move 2.5s linear infinite;
        z-index: 1;
    
    }

    @keyframes marquee {
        0% {
            left: 0;
        }
        100% {
            left: -100%;
        }
    }
 
    .marquee .outer {
        overflow: hidden;
    }
 
    .marquee .outer .inner {
        position: relative;
        display: flex;
        width: 200%;
    }
 
    .marquee .outer .inner:nth-child(1) {
        animation: marquee 5s linear infinite;
    }
 
    .marquee .outer .inner .content {
        width: 50%;
    }
    .sm {
        position: absolute;
        top: 225px;
        right: 220px;
    }
    .section{
        padding: 50px;
        text-align: center;
        margin: auto;
    }
    
    .section__container{
        max-width: 1200px;
        margin: auto;
    }
    
/*.work__projects .project__item__img{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;}*/
    /* About */
    .about__text{
        border: 1px solid #fff;
        padding: 15px;
    }
    .about__text > p {
        
        font-size: 1vw;
        line-height: 1.8;
    }

    .about__majors{
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }

    .major__icon{
        width: 170px;
        height: 170px;
        line-height: 170px;
        font-size: 70px;
        color: #ffffff;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 16px;
        
    }
    .major__icon i{
        transition: all var(--animation-duration) ease;
    }
    .major__icon:hover i{
        color: #5307A8;
        transform: rotate(-30deg) scale(1.1);
    
    }
    .major__title, .major__descrition{
        color: var(--color-white);
    }
    .major__descrition{
        font-size: var(--font-small);
    }



    /*Skill*/
    #skils{
        background: #0F103F;
    }
    
    .skillset{
        display: flex;
        background: linear-gradient(132.61deg, rgba(201, 97, 222, 0.8) 16.04%, rgba(41, 87, 163, 0.8) 84.51%);

        color: var(--color-light-white);
        margin: 20px 0;
    }
    
    .skillset__title{
        color: var(--color-white);
    }
    .skillset__left{
        flex-basis: 100%;
        
        padding: 20px 40px;
    }
    .skill{
        margin-bottom: 32px;
    }
    
    .skill__descripton{
        display: flex;
        justify-content: space-between;
    }
    
    .skill__bar{
        width: 100%;
        height: 3px;
        background-color: var(--color-grey);
    }
    .skill__value{
        width: 70%;
        height: 3px;
        background-color: var(--color-orange);}
    
    /* Work */
    .work__categories{
        margin: 40px;
    }
    .category__btn{
        border: 1px solid var(--color-dark-white);
        border-radius: var(--size-border-radious);
        font-size: var(--font-regular);
        padding: 8px 48px;
    }
    
    .category__btn.active,
    .category__btn:hover{
        background-color: var(--color-pink);
        color: var(--color-white);
    }
    .category__btn.active .category__count,
    .category__btn:hover .category__count{
        opacity: 1;
        top: 0;
    }
    .category__count{
        background-color: var(--color-orange);
        border-radius: 50%;
        color: var(--color-white);
        width: 24px;
        height: 24px;
        display: inline-block;
        line-height: 24px;
        position: relative;
        top: -20px;
        left: 4px;
        opacity: 0;
        transition: all var(--animation-duration) ease-in;
    }
    
    .work__projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 300px;
    
    }
    .project{
        position: relative;
        width: 280px;
        height: 250px;
        margin: 2px;
        background-color: var(--color-light-white);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .project__img{
        max-width: 100%;
        max-height: 100%;
    }
    .project__description{
        position: absolute;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all var(--animation-duration) ease-in;
        transform: translateY(10px);
    }
    .project:hover .project__description {
        opacity: 0.8;
        transform: translateY(0px);
    }
    .project__description h3{
        color: var(--color-white);
    }
    .project__description h3:after{
        content: '';
        width: 25px;
        height: 2px;
        background-color: var(--color-dark-white);
        display: block;
        position: relative;
        left: 50%;
        margin-left: -12px;
        margin-top: 8px;
    }

    /*Contact*/
    
    #contact{
        max-width: 1200px;
        margin: auto;
        height: 100vh;
    }
    .textBox{
        background: #2F2F8A;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        padding: 32px 48px;
        width: 471px;
        float: right;
        position: relative;
    }
    .container{
        width: 1200px;
        height: 700px;
    }
    .text__box{
        padding-bottom: 32px;


    }
    .textbox__title{
        color: #ffff;
        font-size: 16px;
        padding-bottom: 16px;
    }
    input{
        background: rgba(235, 250, 255, 0.3);
        box-shadow: 0px 4.04135px 8.0827px rgba(0, 0, 0, 0.15);
        border-radius: 4.04135px;
        width: 363px;
        padding: 10px;
        
    }
    input:hover{
        background: #FFFFFF;
        /* first-color */
        
        box-sizing: border-box;
        border-radius: 11px;
    }
    .textbox__desc{
        height: 129px;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(255, 255, 255);
        opacity: 1; /* Firefox */
    }
    ::-webkit-input-placeholder{
        padding-left: 16px;
        padding: 10px;
    }
    .sitting{
        position: absolute;
        top: 338%;
        right: 31%;
        z-index: 1;
        animation: circlemove 2.5s linear infinite;
    }
    @keyframes circlemove{
         0%,100%{ transform:translate(-50%,-50%); } 50%{ transform:translate(-50%,-60%); } }

    .rooling{
        height: 100%;
        background-color: rgb(0, 0, 0);
        box-sizing: border-box;
        color: yellow
    }
    .rooling__inner{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .rooling__list{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100000px;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .rooling__item{
    display: flex;
    font-size: 0.8vw;
    font-style: italic;
    letter-spacing: 2px;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: text__roling;
    animation:text__roling 2s ease-in Infinite linear;
    }
    @keyframes text__roling {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
#footer{
    width: 100%;
    height: 300px;
    background-color: #1C1C65;
}
.footer__container{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.footer__detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    position: relative;
    padding: 50px 0 50px 0;

}
.footer__detail::after{

position: absolute;
content: '';
width: 100%;
height: 2px;
background-color: rgba(255, 255, 255, 0.15);
bottom: 0;
left: 0;
}

.footer__detail__item{
    display: flex;
    margin-right: 50px;
    padding: 10px;
}
.footer__detail__item a{
    font-size: 17px;
    font-weight: 400;
}

.footer__detail__item i{
    padding: 0 12px;        
    color: white;
    line-height: 2;
}
.footer__icon__list{
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
}
.footer__icon__item img{
    padding: 9px 15px;
}
.footer__icon__item:nth-child(1){
    width: 40px;
    height: 40px;
    background-color:  #3B5998;
    border-radius: 50%;
    margin-right: 15px;
}
.footer__icon__item:nth-child(2){
    position: relative;
    width: 40px;
    height: 40px;
    background-color:   transparent;
    border-radius: 50%;
}
.footer__icon__item i{
    color: black;
    position: absolute;
    font-size: 40px;
    line-height: 40px;
}
.footer__etc{
    float: right;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 30px 39px 0 0;
}
